{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container edit-comment-wrapper">
<div class="container mb-5 mt-5">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3 text-center">
            <h4 class="mt-4 mb-4 text-bold">
                Edit your comment
            </h4>
            <form class="mb-4" method="POST" action="">
                {% csrf_token %}
                {{ comment_form|crispy }}
                <button class="btn" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
</div>
{% endblock %}