{% extends "base.html" %}
{% load static %}
{% load bag_tools %}
{% block page_header %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="overlay"></div>
<div class="container-fluid mt-4">
    <div class="row">
        <div class="col">
            <h3 class="text-center mt-2 mb-2">Winemakers</h3>
            <hr>
        </div>
    </div>
    {% for wm in winemakers %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-5">
                {% if wm.image %}
                <a href="{% url 'winemaker_detail' wm.id %}">
                <img class="mt-4 mb-4 pr-4 winemaker-image" src="{{ wm.image.url }}" alt="{{ wm.producer_name }}">
                </a>
                {% else %}
                <a href="{% url 'winemaker_detail' wm.id %}">
                <img class="mt-4 mb-5 pr-4 winemaker-image" src="{{ MEDIA_URL }}noimage.png" 
                        alt="{{ wm.producer_name }}">
                </a>
                {% endif %}
            </div>
            <div class="col-12 col-md-7 wm-content pl-3">
                <a href="{% url 'winemaker_detail' wm.id %}">
                    <h5 class="text-font pl-4 wm-name"><strong>{{ wm.producer_name }}</strong></h5>
                    <p class="wm-description pl-4 mt-3">{{ wm.location }}</p>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <a class="btn site-nav-btn float-right" href="{% url 'winemaker_detail' wm.id %}">
                    <span class="text-bold">Read More</span>
                </a>
                {% if request.user.is_superuser %}
                <a class="site-nav-btn" href="{% url 'edit_winemaker' wm.id %}">Edit</a>
                <a class="text-danger pl-4 mt-2" href="#deleteWinemaker{{ wm.id }}"  data-toggle="modal">Delete</a>
                {% endif %}
            </div>
        </div>
        <hr class="mb-5">
    </div>
    <!-- Delete Modal -->
    <div class="modal fade text-center" id="deleteWinemaker{{ wm.id }}" tabindex="-1" role="dialog"
        aria-labelledby="deleteWinemaker{{ wm.id }}ModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- Close button -->
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <!-- Modal heading -->
                    <h5 class="modal-head" id="deleteWinemaker{{ wm.id }}Label">
                        Are you sure you want to delete <br>" {{ wm.producer_name }} " ? <br>
                    </h5>
                    <p>Once this action is taken it cannot be reversed.</p>
                </div>
                <div class="modal-footer">
                    <!-- Cancel button -->
                    <button type="button" class="btn text-uppercase site-nav-btn" data-dismiss="modal">Cancel</button>
                    <!-- Delete button -->
                    <a id="checkoutButton" href="{% url 'delete_winemaker' wm.id %}" class="btn delete-btn">
                        <span class="text-uppercase">Delete</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
    {% endblock %}