{% extends "base.html" %}
{% load static %}
{% block page_header %}
<!-- Code inspired by the news section of the project from my fellow student Joshwa Thompson https://github.com/Jthomp1993/ms4-premier-league-store/tree/master/cart -->
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            {% if winemakers.image %}
            <a href="{{ winemakers.image.url }}" target="_blank">
            <img class="mt-4 mb-2 winemaker-image" src="{{ winemakers.image.url }}" alt="{{ winemakers.producer_name }}">
            </a>
            {% else %}
            <a href="{{ MEDIA_URL }}noimage.png" target="_blank">
            <img class="mt-4 mb-2 winemaker-image" src="{{ MEDIA_URL }}noimage.png" 
                alt="{{ winemakers.producer_name }}">
            </a>
            {% endif %}
        </div>
        <div class="col-12">
            <h4 class="mb-4 text-font text-center wm-name mt-2"><strong>{{ winemakers.producer_name }}</strong></h4>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="overlay"></div>
<div class="container txt-position">
    <div class="row">
        <div class="col-12">
            <h5 class="text-bold mt-3">{{ winemakers.heading }}</h5>
        </div>
        <div class="col-12">
            <p class="mt-4">{{ winemakers.content | linebreaks }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-center mb-4 mt-4">
            <a class="btn site-nav-btn" 
                href="{% url 'winemakers' %}">
            <span class="icon">
            <i class="fas fa-chevron-left"></i>
            </span>
            Back to Winemakers
            </a>
        </div>
    </div>
</div>
{% if request.user.is_authenticated %}
<div class="container mb-5 mt-5 form-background">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3 text-center">
            <h4 class="mt-4 mb-4 text-bold">
                Add a comment
            </h4>
            <form class="mb-4" method="POST" action="{% url 'add_comment' winemakers.pk %}">
                {% csrf_token %}
                {{ comment_form|crispy }}
                <button class="btn subutton-text-color" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
{% else %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <p><strong>If you want to add a comment you will need to 
                <a class="text-danger" href="{% url 'account_login' %}">login</a>. If you don't have an account then you can sign up <a class="text-danger" href="{% url 'account_signup' %}">here.</a></strong>
            </p>
        </div>
    </div>
</div>
{% endif %}
<div class="container mt-2">
    <div class="row">
        <div class="col-6">
            <h2 class="mt-3 mb-3 text-font">Comments</h2>
        </div>
    </div>
</div>
<div class="container mt-5">
    {% if comments.count > 0 %}
    {% for comment in comments %}
    <div class="row">
        <div class="col-12 col-md-8">
            <h5 class="text-bold">{{ comment.user }}</h5>
            <h6 class="text-muted mt-3">{{ comment.date_time }}</h6>
            <p class="mt-3">{{ comment.comment }}</p>
            {% if request.user == comment.user %}
            <ul class="mt-5 comnt-btns">
                <li class="d-inline">
                    <a href="{% url 'edit_comment' winemakers.pk comment.pk %}" class="update-link btn edit-btn"><small>
                    Edit <span class="icon"><i class="fas fa-pencil-alt"></i></span></small>
                    </a>
                </li>
                <li class="d-inline">
                    <a href="#delete_comment{{ comment_id.id }}" class="remove-item btn text-bold" data-toggle="modal"><small>Remove</small><span class="icon"><i class="far fa-trash-alt"></i></span>
                    </a>
                </li>
            </ul>
            <!-- Delete Modal -->
            <div class="modal fade text-center" id="delete_comment{{ comment_id.id }}" tabindex="-1" role="dialog"
                aria-labelledby="delete_comment{{ comment_id.id }}ModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <!-- Close button -->
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                            <!-- Modal heading -->
                            <h5 class="modal-head" id="delete_comment{{ comment_id.id }}Label">
                                Are you sure you want to delete your comment ? <br>
                            </h5>
                            <p>It will be permanently deleted</p>
                        </div>
                        <div class="modal-footer">
                            <!-- Cancel button -->
                            <button type="button" class="btn text-uppercase site-nav-btn" data-dismiss="modal">Cancel</button>
                            <!-- Delete button -->
                            <a id="checkoutButton" href="{% url 'delete_comment' winemakers.pk comment.pk %}" class="btn delete-btn">
                            <span class="text-uppercase">Delete</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <hr>
    {% endfor %}
    {% else %}
    <p class="text-bold">There are no comments on this Producer yet.</p>
    {% endif %}
</div>
{% endblock %}