{% extends "base.html" %}
{% load static %}
{% load bag_tools %}
{% block page_header %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="overlay"></div>
<div class="container-fluid mt-4">
    <div class="row">
        <div class="col">
            <h3 class="text-center mt-2 mb-2">Winemakers</h3>
            <hr>
        </div>
    </div>
    {% for w in winemakers %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-5">
                {% if winemakers.image %}
                <a href="{{ winemakers.image.url }}" target="blank">
                <img class="mt-4 mb-2 producer-pic" src="{{ winemakers.image.url }}" alt="{{ winemakers.title }}">
                </a>
                {% else %}
                <a href="{{ MEDIA_URL }}noimage.png">
                <img class="mt-4 mb-2 producer-pic" src="{{ MEDIA_URL }}noimage.png" 
                        alt="{{ winemakers.title }}">
                </a>
                {% endif %}
            </div>
            <div class="col-12 col-md-7 wm-content">
                <a class="wm-name" href="{% url 'winemaker_detail' w.id %}">
                    <h5><strong>{{ w.title }}</strong></h5>
                    <p class="wm-description mt-3">{{ w.description }}</p>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <a class="btn site-nav-btn float-right" href="{% url 'winemaker_detail' w.id %}">
                    <span class="text-bold">Read More</span>
                </a>
                {% if request.user.is_superuser %}
                <a class="site-nav-btn" href="{% url 'edit_winemaker' w.id %}">Edit</a>
                <a class="text-info pl-4 mt-2" href="{% url 'delete_winemaker' w.id %}">Delete</a>
                {% endif %}
            </div>
        </div>
        <hr class="mb-5">
    </div>
    {% endfor %}
</div>
{% endblock %}