html {
    height: 100%;
}

body {
    background: url('../../media/grapes.jpg');
    background-size: cover;
    color: #333;
    height: calc(100vh - 201px);
    font-family: 'Roboto Slab', serif;
}

#wine-logo {
    width: 57%!important;
}

.shop-now-btn {
    background: red;
    color: white;
    min-width: 210px;
}

.shop-now-btn:hover,
.shop-now-btn:active,
.shop-now-btn:focus {
    background: orange;
}

.red-bg {
    background: red!important;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

/* --- Products.html styles --- */

.btt-button {
    height: 27px;
    width: 27px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link {
    cursor: pointer;
}

/* ---- Bootstrap toasts ---- */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 9191991;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* ---- from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ ---- */

.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* ---- Classes, colors copied from Bootstrap ---- */

.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}


/* --- Media Queries --- */

@media (max-width: 991px) {
    body{
        height: calc(100vh - 201px);
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

@media (min-width: 992px) {
    .fixed-top-lg-screens {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 15;
    }
}