html {
    height: 100%;
}

body {
    background: url('../../media/grapes.jpg');
    background-size: cover;
    color: #333;
    height: calc(100vh - 201px);
    font-family: 'Roboto Slab', serif;
    min-height: 100vh;
}

#wine-logo {
    width: 42%!important;
}

.shop-now-btn {
    background: red;
    color: white;
    font-size: 1.8rem;
    min-width: 210px;
}

.shop-now-btn:hover,
.shop-now-btn:active,
.shop-now-btn:focus {
    background: pink;
}

.red-bg {
    background: #be3644!important;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

.logo-font{
    color: #fff;
}

/* --- Footer --- */

.page-footer{
    margin-top: 24px;
    position: sticky;
    top: 100%;
}

.footer-row {
    display: block;
    background-color: #be3644;
    text-align: center;
}

.footer-row h5 {
    color: white;
}

.footer-copyright {
    text-align: center;
    background-color: #ff0000e0;
}

.footer-copyright h6{
    color: white;
}

.social-icon{
    color: white;
    font-size: 2rem;
    margin: 10px;
}

.footer-copyright {
    padding: 4px;
}

/* --- Products.html styles --- */

.btt-button {
    height: 27px;
    width: 27px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: #aac6d2;
}

.card-img{
    width: 121px;
}

/* ---- Bootstrap toasts ---- */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 9191991;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* ---- from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ ---- */

.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* ---- Classes, colors copied from Bootstrap ---- */

.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* --- Allauth form formatting --- */
.allauth-form-inner-content p {
    margin-top: 1.7rem;
    color: #1f2c21;
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label::not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aac6d2;
}

/* --- button --- */
.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    display: inline-block;
    font-weight: 500;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border-color: #000;
    padding: .425rem .105rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* --- transition taken from bootstrap --- */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
    color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
    color: #28b6a8;
}

/* --- Product Form --- */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* --- Singup Page --- */
.signup label {
    display: block;
}


/* --- Media Queries --- */

@media (max-width: 991px) {
    body{
        height: calc(100vh - 201px);
    }

    .logo-font {
        font-size: 2rem;
        color: #fff;
    }

    .nav-link {
        padding: 0.2rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .5rem .5rem;
        font-size: 1rem;
    }

    #convenience-banner h4 {
        font-size: .8rem;
    }

    .btn.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .shop-now-btn{
        background: red;
        margin: 5px 5px;
        padding: .375rem .375rem;
        font-size: 1.8rem;
        color: white;
    }

    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

