html {
    height: 100%;
}

body {
    background: url('../../media/grapes.jpg');
    background-size: cover;
    color: #333;
    height: calc(100vh - 201px);
    font-family: 'Roboto Slab', serif;
}

#wine-logo {
    width: 57%!important;
}

.shop-now-btn {
    background: red;
    color: white;
    min-width: 210px;
}

.shop-now-btn:hover,
.shop-now-btn:active,
.shop-now-btn:focus {
    background: orange;
}

.red-bg {
    background: red!important;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

/* --- Products.html styles --- */

.btt-button {
    height: 27px;
    width: 27px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link {
    cursor: pointer;
}

/* ---- Bootstrap toasts ---- */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 9191991;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* --- Media Queries --- */

@media (max-width: 991px) {
    body{
        height: calc(100vh - 201px);
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

@media (min-width: 992px) {
    .fixed-top-lg-screens {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 15;
    }
}