{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container-fluid">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <div class="image-container my-5">
                {% if product.image %}
                <a href="{{ product.image.url }}" target="_blank">
                    <img class="card-img img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="">
                    <img class="card-img img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                </a>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="wine-details-container mb-5 mt-5">
                <p class="mb-0">{{ product.name }}</p>
                <p class="lead mb-0 font-weight-bold text-left">€{{ product.price }}</p>
                 {% if product.category %}
                    <p class="small mt-1 mb-0">
                        <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                            <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                        </a>
                    </p>
                  {% endif %}
                {% if product.rating %}
                    <small class="text-muted"><i class="fas fa-star"></i>{{ product.rating }} / 5</small>
                {% else %}
                    <small class="text-muted">No Rating</small>
                {% endif %}
                {% if request.user.is_superuser %}
                    <small class="ml-3">
                        <a class="edit-btn" href="{% url 'edit_products' product.id %}">Edit  <span class="icon"><i class="fas fa-pencil-alt"></i></span></a> | 
                        <a class="remove-item" href="#deleteProduct{{ product.id }}" data-toggle="modal">Delete<span class="icon"><i class="far fa-trash-alt"></i></span></a>
                    </small>
                {% endif %}
                <p class="mt-3">{{ product.description }}</p>
                <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-12">
                            <p class="mt-3"><strong>Quantity:</strong></p>
                            <div class="form-group w-50">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button class="decrement-qty btn rounded-0" data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                            <span class="icon">
                                                <i class="fas fa-minus"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <input type="number" class="form-control qty_input" name="quantity" value="1" min="1" max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                    <div class="input-group-append">
                                        <button class="increment-qty btn rounded-0" data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                            <span class="icon">
                                                <i class="fas fa-plus"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <a href="{% url 'products' %}" class="btn mt-5  site-nav-btn">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            <input type="submit" class="btn subutton-text-color mt-5 text-uppercase" value="Add to Bag">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Code and functionality inspired from my fellow student Gregory Lewis project 'https://github.com/Gregory4321/cooks_finest' -->
    <div class="row">
        <div class="col text-center add-review-link">
            <!-- Add Review Link -->
            <a href="{% url 'add_review' product.id %}" class="mt-2 mb-2 subutton-text-color">Add Review<i class="fas fa-plus ml-1 subutton-text-color"></i></a>
            <p>
                <!-- Read Reviews Button -->
                <a class="btn mt-4 site-nav-btn" data-toggle="collapse" href="#collapseReview" role="button" aria-expanded="false" aria-controls="collapseExample">
                <span class="text-uppercase">Read Reviews</span>
                </a>
            </p>
            <!-- Review Card -->
            <div class="collapse review-card" id="collapseReview">
                {% if product.reviews.count > 0 %}
                {% for review in product.reviews.all %}
                <div class="card card-body mb-2">
                    <!-- Review Rating -->
                    <p class="review-card-content"><small>{{ review.review_rating }} / 5 <i class="fas fa-star"></i></small></p>
                    <!-- Review User and Date of posting -->
                    <p><small class="text-muted">{{ review.user_profile }} | {{ review.created_on }}</small></p>
                    <!-- Review Title -->
                    <h5 class="card-title">{{ review.review_title }}</h5>
                    <!-- Reivew Content -->
                    <p class="card-text">{{ review.review_content }}</p>
                </div>
                {% endfor %}
                {% else %}
                <!-- If no review was shared -->
                <div class="card card-body mb-2">
                    <h5 class="card-heading">This product does not have any reviews currently</h5>
                    <h6 class="card-content">Already tried this product? Please help others adding a review</h6>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Delete Modal -->
    <div class="modal fade text-center" id="deleteProduct{{ product.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteProduct{{ product.id }}ModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <!-- Close button -->
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                                <!-- Modal heading -->
                                <h5 class="modal-head" id="deleteProduct{{ product.id }}Label">
                                    Are you sure you want to delete <br>" {{ product.name }} " ? <br>
                                </h5>
                                <p>Once this action is taken it cannot be reversed.</p>
                            </div>
                            <div class="modal-footer">
                                <!-- Cancel button -->
                                <button type="button" class="btn text-uppercase site-nav-btn" data-dismiss="modal">Cancel</button>
                                <!-- Delete button -->
                                <a id="checkoutButton" href="{% url 'delete_product' product.id %}" class="btn delete-btn">
                                <span class="text-uppercase">Delete</span>                      
                                </a>
                            </div>
                        </div>
                    </div>
     </div>
</div>


{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/qty_input_script.html' %}
{% endblock %}